/* Breakpoints */
$mobile-breakpoint: 798px;
$tablet-breakpoint: 1024px;
// Viewport Sizes
$desktop-width: 1440px;
$desktop-height: 850px;

$mobile-width: 375px;
$mobile-height: 650px;

// colors
$f : #FFF;
$white : #EFEFEF;
$grey-bg : #F6F6F6;
$grey : #777777;
$grey-2 : #838383;
$b: #141418;
$black : #08080A;
// 1C1C20
$black-2 : #1C1C20;
// F3C500
$yellow : #F3C500;
// FFEC9B
$yellow-2 : #FFEC9B;
// 292929
$secondary : #292929;
$primary : #08080A;
$background : #F0F1F1;
$bg-card : rgba(255, 255, 255, 0.7);

// fonts
$font-primary: 'Inter';
$font-secondary: 'Exo';
